<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>Web Mining Final Project</title>
</head>

<body>
    <h1>HITS Algorithm for Directed Graphs</h1>

    <section class="section">
        <div>The <b>authorities</b> and <b>hubs</b> scores of the directed graph by <b>HITS algorithm</b> can be found with using these methods:</div>
        <br />
        <br />
        <div class="row">
            <a class="col" href="{{ url_for('matrix')}}">Matrix</a>
            <br />
            <br />
            <img src="../static/images/matrix.png"/>
            <img src="../static/images/matrix_scores.png"/>

            <br />
            <br />
            <br />
            <br />
            <br />
            <a class="col" href="{{ url_for('graph')}}">Graph</a>
            <br />
            <br />
            <img src="../static/images/graph.png"/>
            <img src="../static/images/graph_scores.png"/>

        </div>
    </section>
    
</body>
</html>